@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

body, span, div {
    font-family: 'Source Serif Pro';
}

body {
    background-color: #D6D8D8;
}

li[class^="MuiGridListTile"] {
    height: 100% !important;
}

.mainSwatch {
    flex-grow: 1;
}

.mainContainer {
    background-color: white;
    width: 100%;
}

.gridList {
    flex-wrap: nowrap !important;
}


